.itinerary-container {
    
    background-image:  url('Asset/itinerary\ screen\ \(5\).png');
    background-size:100% 100%;
   text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 40.9px;
    
   
  }
  .itinerary-div{
    padding-top: 350px;
  }
  .section-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  
  .itinerary-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .itinerary-card {
    width: 350px;
    max-width: 700px;
    padding: 40px;
    border-radius: 16px;
    text-align: left;
    
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .itinerary-header {
    font-weight: bold;
    margin-bottom: 10px;
    color: #4b352d;
  }
  
  .itinerary-info p {
    margin: 5px 0;
  }
  
  .see-more {
    background-color: #4b352d;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  }
  
  .see-more:hover{

    background-color: #3a2922;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .see-more:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(75, 53, 45, 0.8);
  }
  .Get-Started-footer {
    height: 150px;
    background-color: #4b352d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-table {
    width: 85%;
    border-collapse: collapse;
    color: #fff;
  }
  
  .footer-table thead tr {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .footer-table tbody tr {
    border: none;
  }
  
  .footer-table-tr1 {
    text-align: left !important;
  }
  
  .footer-table-tr2 {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  